boto3==1.4.1
botocore==1.4.71
docutils==0.12
elasticsearch==2.4.0
Flask==0.10.1
Flask-SocketIO==2.7.1
futures==3.0.5
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
oauthlib==2.0.0
pysolr==3.6.0
python-dateutil==2.6.0
python-engineio==1.0.3
python-socketio==1.6.0
requests==2.11.1
requests-oauthlib==0.7.0
s3transfer==0.1.9
six==1.10.0
tweepy==3.5.0
urllib3==1.19
watson-developer-cloud==0.22.0
Werkzeug==0.11.11
