<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<title>Simple markers</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
	</head>
	<body>
		<div id="topDiv">
			<div id="foldButtonDiv" onclick="foldTile()">&#8722;</div>
			<div id="titleDiv"><h1 id="title">TwittTrends</h1></div>
			<div id="searchDiv">
				<input type="text" id="searchBox" name="query" placeholder="Type a keyword to search..." maxlength="30">
				<input type="submit" id="searchButton" value="Search">
				<div class="dropdownDiv">
					<button onclick="toggleDropdownList()" class="dropbtn">Keyword List</button>
					<div id="dropdownListDiv" class="dropdownContent">
						<a href="#" onclick="dropdownListSearch('movie')">movie</a>
						<a href="#" onclick="dropdownListSearch('commercial')">commercial</a>
						<a href="#" onclick="dropdownListSearch('car')">car</a>
						<a href="#" onclick="dropdownListSearch('music')">music</a>
						<a href="#" onclick="dropdownListSearch('food')">food</a>
						<a href="#" onclick="dropdownListSearch('sport')">sport</a>
						<a href="#" onclick="dropdownListSearch('party')">party</a>
					</div>
				</div>
			</div>
			<div id="updateDiv">New tweets since page load <span id="updateNum"></span></div>
		</div>

		<div id="map"></div>

		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/markerclusterer.js') }}"></script>
		<script async defer
			    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrGPpkeV09Rd8NQAveY9pUhX9_hK54X40&callback=initMap">
		</script>

	</body>
</html>
